
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 80px;
    background-color: var(--primary-white-color);
    border: 1px solid #ececec;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    z-index: 1;
  
  &__container {
    display: flex;
    align-items: center;
  }
  
  /* Logo */
  
  &__logo {
    display: block;
    padding-top: 24px;
    padding-bottom: 25px;
  
    color: var(--primary-black-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
  }

  &__group {
    display: flex;
    margin-left: auto;
  }
  
  &__item + &__item {
    margin-left: 50px;
  }
  
  &__link {
    display: inline-flex;
    align-items: center;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
  
    color: var(--secondary-text-color);
    font-weight: 500;
    line-height: 1.14;
  
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__icon-mail,
  &__icon-phone {
    margin-right: 10px;
    fill: currentColor;
  }
  
  &__link:hover,
  &__link:focus {
    color: var(--accent-color);
  
  }
}
.logo__zone {
  color: var(--accent-color);
}
