.hero {
    background-color: var(--secondary-background-color);
    text-align: center;
    padding: 200px 0;
    margin-right: auto;
    margin-left: auto;
    height: 600px;
    max-width: 1600px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 
  
  &__title {
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  
    text-transform: uppercase;
    width: 696px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  
  &__btn--size{
    width: 216px;
    height: 50px;
  }
}

.btn-mode-blue :hover,
.btn-mode-blue :focus {
  color: var(--primary-white-color);
  background-color: var(--button-pressing-color);

}